server {
    listen 80;
    server_name 159.65.15.112;
    location = /favicon.ico { access_log off; log_not_found off; }
    location /static {
        alias /root/dev/static/;
    }
    location /media {
	alias /root/dev/media/;
    }
    location / {
        include proxy_params;
        proxy_pass http://unix:/root/dev/belka/belka.sock;
    }
}
