{% load static %}
<!doctype html>
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Base Template</title>
        {% include "base/css.html" %}
        {% block base_head %} {% endblock %}
      </head>
      <body>
        {% include "base/navbar.html" with brand_name="Generated hands of NEW DECK" %}
        {% block content %} {% endblock %}

        <div class="container">
            <center><p>Deck number {{ deck.id }}</p></center>
            <center><p>Trump <b>{{ deck.get_trump_display }}</b></p></center>
            <div class="row">
                {% for card in hand_01.cards.all %}
                    <div class="col-1">
                        <img src="{{ card.image_url }}" width="150" height="200"/>
                    </div>
                {% endfor %}
            </div>

            <hr/>

            <div class="row">
                {% for card in hand_02.cards.all %}
                    <div class="col-1">
                        <img src="{{ card.image_url }}" width="150" height="200"/>
                    </div>
                {% endfor %}
            </div>

            <hr/>

            <div class="row">
                {% for card in hand_03.cards.all %}
                    <div class="col-1">
                        <img src="{{ card.image_url }}" width="150" height="200"/>
                    </div>
                {% endfor %}
            </div>

            <hr/>

            <div class="row">
                {% for card in hand_04.cards.all %}
                    <div class="col-1">
                        <img src="{{ card.image_url }}" width="150" height="200"/>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% include "base/js.html" %}
      </body>
    </html>
