{% load static %}
<!doctype html>
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Base Template</title>
        {% include "base/css.html" %}
        {% block base_head %} {% endblock %}
      </head>
      <body>
        {% include "base/navbar.html" with brand_name="Generated hands of NEW DECK" %}
        {% block content %} {% endblock %}


        <div class="container">
            <div class="row">
                {% for current_card in current_cards %}
                    <div class="col-1">
                        <center><p>id:{{ current_card.id }}</p></center>
                        <img src="{{ current_card.image_url }}" width="150" height="200"/>
                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="container">
            <center><p>Deck number {{ deck.id }}</p></center>
            {% if deck.next_move == 1 %}
                <center><p>Next move: <b>{{ hand01.user.name }}</b></p></center>
            {% elif deck.next_move == 2 %}
                <center><p>Next move: <b>{{ hand02.user.name }}</b></p></center>
            {% elif deck.next_move == 3 %}
                <center><p>Next move: <b>{{ hand03.user.name }}</b></p></center>
            {% elif deck.next_move == 4 %}
                <center><p>Next move: <b>{{ hand04.user.name }}</b></p></center>
            {% endif %}
            <center><p>Trump <b>{{ deck.get_trump_display }}</b></p></center>
            <b>id: {{ hand01.user.id }}. {{ hand01.user.name }}'s hand:</b>
            <div class="row">
                {% for card in hand01.cards.all %}
                    {% if card.active %}
                        <div class="col-1">
                            <center><p>id:{{ card.id }}</p></center>
                            <img src="{{ card.image_url }}" width="150" height="200"/>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <hr/>

            <b>id: {{ hand02.user.id }}. {{ hand02.user.name }}'s hand:</b>
            <div class="row">
                {% for card in hand02.cards.all %}
                    {% if card.active %}
                        <div class="col-1">
                            <center><p>id:{{ card.id }}</p></center>
                            <img src="{{ card.image_url }}" width="150" height="200"/>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <hr/>

            <b>id: {{ hand03.user.id }}. {{ hand03.user.name }}'s hand:</b>
            <div class="row">
                {% for card in hand03.cards.all %}
                    {% if card.active %}
                        <div class="col-1">
                            <center><p>id:{{ card.id }}</p></center>
                            <img src="{{ card.image_url }}" width="150" height="200"/>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <hr/>

            <b>id: {{ hand04.user.id }}. {{ hand04.user.name }}'s hand:</b>
            <div class="row">
                {% for card in hand04.cards.all %}
                    {% if card.active %}
                        <div class="col-1">
                            <center><p>id:{{ card.id }}</p></center>
                            <img src="{{ card.image_url }}" width="150" height="200"/>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {% include "base/js.html" %}
      </body>
    </html>
