{% load static %}
<!doctype html>
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Hajime</title>
        {% block base_head %} {% endblock %}
      </head>
      <body>
{#        {% include "base/navbar.html" with brand_name="Generated hands of NEW DECK" %}#}

        <center>
            <div class="row">
                <div class="col-1">
                    <h1>Fav</h1>
                    <center>
                        <audio controls>
                          <source src="/media/audio/audio01.mp3" type="audio/ogg">
                        Your browser does not support the audio element.
                        </audio>
                        <audio controls>
                          <source src="/media/audio/audio02.mp3" type="audio/ogg">
                        Your browser does not support the audio element.
                        </audio>
                        <audio controls>
                          <source src="/media/audio/audio03.mp3" type="audio/ogg">
                        Your browser does not support the audio element.
                        </audio>
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <center>
                        <img src="https://canales.okdiario.com/tecnologia/img/2017/05/15/silueta-ipod-mp3.jpg"/>
                    </center>
                </div>
            </div>
        </center>

        {% include "base/js.html" %}
      </body>
    </html>
